.mentee-dashboard-container .teams-container {
  width: 100%;
}

.mentee-dashboard-container .teams-container .title {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.team-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.team-table thead td {
  text-align: center;
  padding: 10px 30px;
}

.team-table td {
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 10px;
  text-align: center;
}

.team-table td:last-child {
  border-right: none;
}

.team-table thead td {
  border-top: none;
}

.team-table tbody td:first-child {
  text-align: left;
  padding-left: 10px;
}

.team-table thead td:first-child {
  width: 80px;
}

.team-table input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
