.register-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.register-page-container .right-side {
  background-color: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-page-container .right-side .description {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 50px;
  font-size: 2rem;
  font-weight: 300;
}

.register-page-container .right-side .link {
  margin: 50px;
  text-decoration: underline;
  cursor: pointer;
}

.register-page-container .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page-container .left-side form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.register-page-container .left-side form .row {
  display: flex;
  gap: 10px;
}

.register-page-container .left-side form input {
  width: 350px;
}

.register-page-container .left-side form .row input {
  width: 155px;
}

.register-page-container .left-side form .row .date {
  width: 184px;
}

.register-page-container .left-side .submit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.register-page-container .left-side .submit button {
  background-color: var(--button);
  border: 0;
  color: white;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.register-page-container .left-side .submit button:hover {
  background-color: var(--button_hover);
}

.register-page-container .left-side img {
  width: 200px;
}
