:root {
  --bg: #01304a;
  --button: #01304a;
  --button_hover: #004a72;
}

body {
  font-family: Rubik;
  margin: 0;
  padding: 0;
}
.main-page-container {
  display: flex;
  flex-direction: column;
}

.main-page-container .content {
  display: flex;
}
