.message-box {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  min-height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.message-box.show {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 200ms ease-in-out forwards;
}

.message-box.error {
  background-color: rgb(245, 205, 205);
  border: 1px solid;
  color: rgb(236, 64, 64);
}

.message-box.success {
  background-color: rgb(205, 245, 208);
  border: 1px solid;
  color: rgb(41, 117, 31);
}

.message-box.error.show {
  animation: shake 200ms ease-in-out forwards;
}

.message-box.success.show {
  animation: slideDown 500ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
