.sidebar-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 170px;
  border-right: 1px solid #d5d5d5;
}

.sidebar-container .sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.sidebar-container .sidebar-items .item {
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  transition: 50ms ease-in-out;
  cursor: pointer;
}

.sidebar-container .sidebar-items .item:hover {
  background-color: rgba(1, 48, 74, 0.05);
}

.sidebar-container .sidebar-items .item.active {
  background-color: rgba(1, 48, 74, 0.05);
  border: 1px solid rgba(1, 48, 74, 0.1);
  color: var(--bg);
}
