.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px 20px;
}

.navbar-container .left-side img {
  width: 80px;
}

.navbar-container .right-side .profile {
  background-color: #2e48ee;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}
